@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i|Maven+Pro:400,500,700&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//FONTS: Header : Maven Pro, Body: Lato

body {
    font-family: 'Lato', Halvetica, Arial, sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
}

//--------------------------------GRID GENARATE
.grid-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;

    .row {
        $col: 12;
        @for $i from 1 through $col {
            .col-#{$i} {
                width: 100%/$col*$i;
                min-height: 1px;
                float: left;
            }
        }
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
}

//-------------------------------STYLES
header {
    width: 100%;
    height: 68px;
    font-family: 'Maven Pro', Halvetica, sans-serif;
    font-size: 14px;
    background-color: #323232;
    color: #fff;
    position: relative;
    .grid-container {
        height: 100%;

        nav.row {
            height: 100%;
            display: flex;
            align-items: flex-end;
            .nav_list {
                height: 100%;
                display: flex;
                //justify-content: space-between;
                align-items: center; //Wszyskie kolumny w wierszu na wyśrodkowanie w headerze
                list-style: none;
                li {
                    display: inline-block;
                    //&:not(.logo):hover
                    &:hover {
                        color: #2EAC91;
                    }
                }
            }
            .nav_left {
                justify-content: flex-end;
                li:last-child {
                    padding-left: 23px;
                }
            }
            .nav_right {
                justify-content: flex-start;
                li:first-child {
                    padding-right: 23px;
                }
            }

            .logo {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &::after {
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: absolute;
            border: solid;
            border-width: 25px 45px 0 45px;
            border-color: #323232 transparent transparent transparent;

            //transform-origin: top center;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

section.pictures {
    height: 720px;
    padding-top: 90px;
    //.pic_content{
    //    display:flex;
    //    justify-content: space-around;
    //}

    .row1 {
        //.pic_content.left {
        //    display: flex;
        //    justify-content: flex-end;
        //    padding-right: 10px;
        //    .picture_2_row_1{
        //        margin-left: 20px;
        //    }
        //}
        //.pic_content.right {
        //    display: flex;
        //    justify-content: flex-start;
        //    padding-left: 10px;
        //    .picture_3_row_1{
        //        margin-right: 20px;
        //    }
        //}
        .pic_content {
            display: flex;
            justify-content: space-around;
        }
    }

    .row2 {
        .pic_content_r_2 {
            margin-top: -38px;
            display: flex;
            justify-content: space-between;
        }
    }

    .row3 {
        .pic_content_r_3 {
            margin-top: -38px;
            display: flex;
            justify-content: space-around;
        }
    }

}

section.about_me {
    width: 100%;
    height: 340px;
    background-color: #2EB297;

    .row {
        padding-top: 68px;

        .face_pic {
            margin-right: -30px;
        }

        .text_content {
            height: 206px;
            font-weight: 300;
            margin-left: -30px;
            position: relative;
            //display: flex;
            //flex-direction: column;

            .name {
                color: #fff;
                font-size: 25px;
                //line-height: 60px;
                padding-bottom: 2px;
            }
            .title {
                color: #20806D;
                font-size: 18px;
                padding-bottom: 10px;
            }
            article {
                color: #fff;
                font-size: 12px;
            }
            .social_media{
                width: 144px;
                position: absolute;
                display: flex;
                //align-self: flex-end;
                //justify-self: flex-end;
                top:100%;
                left: 100%;
                transform: translate(-100%, -100%);
            }

        }
    }
}

//.triangle {
//    //margin-top: 20px;
//    //box-sizing: content-box;
//    //width: 20px;
//    //height: 20px;
//    //background-color: black;
//
//    width: 0;
//    height: 0;
//    border: solid;
//    border-width: 25px 45px 0 45px;
//    border-color: #323232 transparent transparent transparent;
//    //margin: 50px auto;
//}
