@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i|Maven+Pro:400,500,700&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//FONTS: Header : Maven Pro, Body: Lato

.container {
    width: 980px;
    margin: 0 auto;
}

//--------------------------------GRID GENARATE
.grid-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .row {
        $col: 12;
        @for $i from 1 through $col {
            .col-#{$i} {
                width: 100%/$col*$i;
                min-height: 1px;
                float: left;
            }
        }
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
}

//-------------------------------STYLES
header {
    width: 100%;
    height: 68px;
    font-family: 'Maven Pro', Halvetica, sans-serif;
    font-size: 14px;
    background-color: #323232;
    color: #fff;
    position: relative;
    .grid-container {
        height: 100%;

        nav.row {
            height: 100%;
            display: flex;
            align-items: flex-end;
            .nav_list {
                height: 100%;
                display: flex;
                //justify-content: space-between;
                align-items: center; //Wszyskie kolumny w wierszu na wyśrodkowanie w headerze
                list-style: none;
                li {
                    display: inline-block;
                    //&:not(.logo):hover
                    &:hover {
                        color: #2EAC91;
                    }
                }
            }
            .nav_left{
                justify-content: flex-end;
                li:last-child{
                    padding-left: 23px;
                }
            }
            .nav_right{
                justify-content: flex-start;
                li:first-child{
                    padding-right: 23px;
                }
            }

            .logo {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
        &::after {
            width: 0;
            height: 0;
            content: '';
            display: block;
            position: absolute;
            border: solid;
            border-width: 25px 45px 0 45px;
            border-color: #323232 transparent transparent transparent;

            //transform-origin: top center;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}




//.triangle {
//    //margin-top: 20px;
//    //box-sizing: content-box;
//    //width: 20px;
//    //height: 20px;
//    //background-color: black;
//
//    width: 0;
//    height: 0;
//    border: solid;
//    border-width: 25px 45px 0 45px;
//    border-color: #323232 transparent transparent transparent;
//    //margin: 50px auto;
//}
